@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

:root {
  --background: #f5f5f5;
  --text: #111118;
  --imdb: #e4160d;
  --metascore: #177a7d;
  --highlight: rgba(0, 0, 0, 0.05);
}

body {
	font-family: "Space Mono";
	font-size: 18px;
	line-height: 1.5;
	
	background-color: var(--background);
	color: var(--text);
	margin: 40px auto 40px auto;
	width: 960px;
}

header {
  background-color: var(--background);
  padding: 24px;
  border-bottom: 3px solid var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

span {
  margin: 0 10px 0 0;
}

span.imdb {
  color: var(--imdb);
}

span.meta {
  color: var(--metascore);
}

text {
  dominant-baseline: middle;
}

text.title {
  font-weight: 700;
}

circle.imdb{
  fill: var(--imdb);
}

circle.meta{
  fill: var(--metascore);
}

rect.background {
  fill: var(--highlight);
  opacity: 0;
  transition: opacity 0.25s;
}

g.movie:hover rect.background {
  opacity: 1;
}

g.movie {
   cursor: pointer;
}

path.imdb {
  fill: none;
  stroke: var(--imdb);
  stroke-width: 5px;
}

path.meta {
  fill: none;
  stroke: var(--metascore);
  stroke-width: 5px;
}

path.area {
  fill: var(--highlight) ;
}

text.imdb {
  fill: var(--imdb);
  font-size: 12px;
}

text.meta {
  fill: var(--metascore);
  font-size: 12px;
}


@media (max-width: 1000px){
  body {
    font-size: 14px;
    width: auto;
    margin: 24px;
  }
  
  text.imdb, text.meta {
    display: none;
  }
}

@media (max-width: 700px){
  body {
    margin: 12px;
  }
  
  
  
  @media (max-width: 600px){
  body {
    margin: 12px;
    font-size: 12px;
  }
}
  
  @media (max-width: 500px){
  body {
    margin: 12px;
    font-size: 12px;
  }
}
  
  @media (max-width: 320px){
  body {
   margin: 0 2px 0 1px;
  }
  text.title {
  font-size: 6.5px;
  } 
  text.year {
  font-size: 8px;
  } 
    path.meta, path.imdb {
      stroke-width: 2px;
    }
}
  
